.main {
  margin-top: 2.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-items {
  display: flex;
  align-items: center;
  flex-direction: column;

  & .add-items-form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    & .add-items-input {
      width: 22rem;
      height: 2.75rem;
      border-radius: 12px;
      border: solid 2px var(--border-primary);
      padding-left: 1rem;
      outline: none;

      &:focus {
        border-color: var(--color-brand-hover);
      }

      &::placeholder {
        color: var(--content-tertiary);
      }
    }
    & .add-items-button {
      width: 22rem;
      outline: none;
      border: none;
      border-radius: 12px;
      height: 2.75rem;
      background-color: var(--color-brand);
      color: var(--always-white);
      cursor: pointer;
      transition: background-color 200ms ease-in-out;
    }
    & .add-items-button:hover {
      background-color: var(--color-brand-hover);
    }
  }
}

.item-list {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 22rem;
}

.item {
  background-color: var(--background-secondary);
  height: 57px;
  width: 100%;
  border-radius: 12px;
  list-style: none;
  padding: .875rem;

  display: flex;
  align-items: center;
  gap: 0.875rem;
  transition: all 0.5s ease-in-out;

  & .item-checkbox {
    cursor: pointer;
  }

  & .item-label {
    width: 100%;
  }

  & .item-remove {
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    &:hover {
      filter: invert(18%) sepia(95%) saturate(6000%) hue-rotate(0deg);
    }
  }
}

.removing {
  opacity: 0;
  transform: translateX(-40px);
  background-color: var(--color-brand);
}

@media (min-width: 1000px) {
  .add-items {
    width: 42rem;
    .add-items-form {
      display: flex;  
      flex-direction: initial;
      width: 100%;

      .add-items-input {
        width: 100%;
      }

      .add-items-button {
        width: 10rem;
      }
    }
  }

  .item-list {
    width: 42rem;
  }
}