html {
  font-family: "Inter", sans-serif;
}

.text-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.text-label {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.text-paragraph {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: normal;
}

.text-link {
  font-size: 0.825rem;
  line-height: 1rem;
  font-weight: normal;
}

.margin {
  margin: 0 2rem 0 2rem;
}